.container{
    width: 1175px;
    margin: auto;
   
}
.quick{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 72px;
}
.banner{
    height: 545px;
}
.about{
    display: flex;
    flex-wrap: wrap;
    height: 575px;
}
.about .image1{
    width: 50%;
}
.about .image1 img{
    width: 100%;
    height: 575px;

}
.about .image1 .abou{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 30px;
    color: #5c768d;
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 600;
    
    
}  
.about .image1 .par{
    text-align: center;
    padding: 10px;
    color: lightgray;   
    font-style: oblique;
    font: bold;
    font-size: 20px;
    font-weight: 500;
}
.benz{
    display: flex;
}
.benz .feature-icon{
    width: 20%;
}
.benz .feature-text{
    width: 80%;
}

.feature-text .tel{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.advantage-section{
    display: flex;
    flex-wrap: wrap;
     
}
 .advantage-box{
    width: 33.33%;
    outline: solid 1px lightgray; 
    height: 230px;  
}  

.yoga{
    font-size: 25px;
    color: #A1CDF4;
    padding-left: 25px;
    padding-top: 18px;
    font-weight: 100;
}
.lenovo{
    padding-left: 25px;
    font-size: .7cm;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
    color: #464646;
    margin-top: -5%;
}
.asus{
    padding-left: 25px;
}




