
.container{
    width: 1175px;
    margin: auto;
   
}

.quick{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.fico{
    color: #428BCA;
}
.mob{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.inform a{
    color: #5c768d;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
    text-decoration: none;
  
}
.inform a:hover{
    color: #428BCA;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 72px;
}
.mamba{
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    color: #1C5C93;
    font-family: sans-serif;
}
.navi .ul{
    float: right;
    list-style-type: lower-roman;
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: solid;
    color: #5c768d;
    padding: 5px 15px;
    border: 1px solid #fff;
    transition: 0.6s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navi a:hover{
    color: #428BCA;
}
.banner{
    height: 500px;
    width: 100%;
    margin-bottom: 68px;
    
}
.banner .bannerimg{
    background-image: url(../mani.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    position: absolute;
}
.bannersec{
    position: relative;
    top: 0% ;
    text-align: justify;
    padding-top: 60px;
}
.banner .bannerimg::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 500px;
    
    
}
.banner h1{
    font-size: 48px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;    
}
.bannersec p{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -19px;
    margin-bottom: 28px;
}
.bannersec a{
    background: #428bca;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    border: 0;
    text-decoration: none;
    
}

.about{
    display: flex;
    flex-wrap: wrap;
    height: 575px;
    box-sizing: content-box;
    box-shadow: 10px 10px 10px   #999;

}

.about .image1{
    width: 50%;
   
}
.about .image1 img{
    width: 100%;
    height: 575px;

}
.about .image1 .abou{
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    padding-top: 30px;
    color: #5c768d;
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 600;
    
    
}  
.about .image1 .par{
    text-align: center;
    padding: 10px;
    color: #464646;   
    font-style: oblique;
    font: bold;
    font-size: 18px;
    font-weight: 500;
}
.benz .feature-icon:hover{
    background-color: #1C5C93;
    

    
}

.benz{
    display: flex;
}
.benz .feature-icon{
    width: 72px;
    height: 72px;
    background-color:#F5F9FC;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 6px;
    color: #428BCA;
}


.benz .feature-text{
    width: 80%;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #909090;
    
}

.feature-text .te{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #464646;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.feature-text .pa{
    color: #464646;
}
.advantage-section{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
     
}
 .advantage-box{
   width: 380px;
   border: solid 1px lightgray;  
   
    
}  
.advantage-box:nth-child(1){
    border-top: none;
    border-left: none;
}
.advantage-box:nth-child(2){
    border-top: none;
}
.advantage-box:nth-child(3){
    border-top: none;
    border-right: none;
}
.advantage-box:nth-child(4){
    border-left: none;
    border-bottom: none;
}
.advantage-box:nth-child(5){
    border-bottom: none;
}
.advantage-box:nth-child(6){
    border-bottom: none;
    border-right: none;
}

.yoga{
    font-size: 25px;
    color: #A1CDF4;
    padding-left: 25px;
    padding-top: 18px;
    font-weight: 100;
}
.lenovo{
    padding-left: 25px;
    font-size: .7cm;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
    color: #464646;
    margin-top: -5%;
    
}
.asus{
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 15px;
}
.numbersection{
    background-color:#F5F9FC;
    padding-top: 20px;
    padding-bottom: 20px;
}
.number-list-box{
    display: flex;

}
.number-box{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  
}
.number-text{
    background-color: #fff;
    text-align: center;
    padding: 20px 15px;
    box-shadow:  0px 0px 10px #9c9c9c; 
}
.number-text h6{
    font-size: 42px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #1C5C93;
    margin: auto;
    margin-bottom: -15px;
    margin-top: 13px;

}
.number-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}
.ram{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    word-spacing: 1px;
    color: #1C5C93;
    padding: 20px;
}
.services{
    padding-top: 50px;

}
.service-list{
    display: flex;
    flex-wrap: wrap;
}
.service-list .service-box{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}
.service-info .service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #607d8b;
    text-align: center; 
    margin: 0 auto;  
}
.service-icon{
    font-size: 35px;
    color: #468DCB;
}
.service-text{
    text-align: center;
}
.service-text h4{
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.service-line{
    width: 60px;
    height: 2px;
    background-color: #468DCB;
    margin: -1% auto ;
}
.service-box:hover .service-info .service-icon{
    box-shadow: 0px 0px 20px #468DCB;
    transition: all 0.5s;
}
.porthead{
    display: block;
    background-color:#F5F9FC;
    margin-bottom: -10px;
}
.porthead h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 100;
    color: #5C768D;

}
.porthead p{
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio{
    background-color: #F5F9FC;
}
.port{
    text-align: center;
}
.port .finbut:hover{
    color: #fff;
    background-color: #1C5C93;
}
.port .finbut{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #444;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 5px;
    border: none;

}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F9FC;
}
.portfolio-box{
    width: 360px;
    height: 267px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 20px;
     margin-bottom: 20px;   
}
.portfolio-box img{
    
    width: 100%;
    height: 267px;
    transition: all 0.5s ease;
    top: 0;
    display: block;
    
}
.portfolio-box:hover img{
    transform: scale(1.2);
}

.portfolio-text{
    position: absolute;
    width: 100%;
    top: 0%;
    margin-top: 25px;
    margin-top: 1px;
    background-color: currentColor;
    height: 290px;
    width: 391px;
    color: rgba(0, 0, 0, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: all 0.5s ease;
}
.portfolio-box:hover .portfolio-text{
    opacity: 1 ;
}


.port-info h5{
    color: #fff;
    font-size: 22px;
    margin-left: -6px;

}
.port-info h6{
    color: #fff;
    font-size: 18px;
    margin-top: -32px;   
}
.portfolio-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.portfolio-icons a{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    
    
}
.team-box{
    width: 23%;
    height: 260px;
    padding-right: 20px;
    position: relative;
    padding-top: 30px;
   
}

.team-box:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.pic{
    overflow: hidden;
    
}

.pic img{
    width: 100%;
    height:260px;
    display: block;
}

.our-line{
    height: 1px;
    width: 40px;
    background-color: white;
    margin-left: 95px;
    margin-top: -5px;
    
}

.our-text{
   width:80%;
   height: 130px;
   background: linear-gradient(360deg, rgb(92, 118, 141) 0%, rgba(92, 118, 141, 0.9) 35%, rgba(140, 167, 191, 0.8) 100%);;
   border-radius: 5px;
   position: absolute;
   top: 68%;
   margin-left: 20px;
   text-align: center;
   
}

.our-text h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 15px;
    color: #fff;
}

.our-icon a{
    color: #fff;
    text-decoration: none;
    line-height: 20px;
}

.our-text .h5{
    font-style: italic;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 10px;
}
.fahead{
    text-align: center;
    padding-top: 100px;

}
.FAQ{
    background-color: #F5F9FC;
    margin-top: 110px;
}
.fahead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: -10px;
    color: #5C768D;
}
.FAQ-box{
    display: flex;
    padding-top: 30px;
    
}
.FAQ-list{
    width: 50%;
    padding-left: 10px;    
}
.faq-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:#5C768D;
    padding-top: 21px;
}
.faq-info-2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444;
}
.faq-info-0{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:#5C768D;
    padding-top: 21px;
    margin-top: 49px;
}
.faq-info-5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444;
    margin-top: 49px;
}

.contact-box{
    display: flex;
    margin-top: 30px;
   
    
}
.contact-list-1{
    width: 547px;
    height: 197px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 10px 10px 10px #999;
   
   
}
.contact-list-2{
    width: 270px;
    height: 197px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 10px 10px 10px #999;
   
   
    

}
.contact-list-3{
    width: 270px;
    height: 197px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: rgba(0, 0, 10px,#C0C0C0);
    
    
}
.u20{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:#607d8b;
}
.v20{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.contact-icons a{
    margin-top: -10px;
    color: #428BCA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 100%;
    border:  2px dotted #428BCA;
    text-align: center; 
    margin: 0 auto; 
    font-size: 30px;
    text-decoration: none;   
}
.cont{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #428BCA;
    font-size: 32px;
    font-weight: 100;
    padding-top: 20px;
}
.forms{
    
    
    background-color: #fff;
    box-shadow: 0 0 20px #C0C0C0;
}
.userforms{
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
    padding: 25px;
}
.col-50{
    width: 45%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 18px;

}
.col-501{
    width:48%;
    padding-left: 15px;
    padding-right: 15px;
}
     
.col-100{
    width: 100%;
    padding: 13px
}
.form-group .form-list{
    width: 100%;
    margin-top: 27px;
    line-height: 3;
    
}
.form-btn{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.form-btn .btn{
    margin-top: 10px;
    width: 172px;
    background-color: #438BCA;
    height: 47px; 
    border: none;  
}
.footer{
    background-color: #5C768D;
}
.foot{
    display: flex;
    margin-top: 50px;
    background-color: #5C768D;
    padding-top: 30px;
}
.final{
    flex: 1 0 0;
}
.final-3{
    width: 40%;
    margin-right: -23px;
}
 
.final h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
    
}
.feet{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    
}
.finico a{
    color: #fff;
    background-color:#627BA5;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    line-height: 2;
    margin: 0;
    
}
.finico a:hover{
    background-color: #428BCA;
    color: white;
}
.cam{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13px;
    font-weight: 100;
    font-size: 18px;
}
.cam-1{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    
}
.uli{
    font-size: 15px;
    margin-left: -20px;   
}
.uli a{
    text-decoration: none;
    color: #F5F9FC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.butt{
    padding-right: 67px;
    height: 30px;
}
.c3{
    height: 36px;
    padding-right:67px;
    background-color: #629FD3;
    border: none;
}
.legal{
    background-color: #587187;
    height: 149px;
}
.lega{
    padding-top: 45px;
    text-align: center;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    
}
.qw{
    text-decoration: none;
    color: #9EC5D8;
}